{% extends "base.html" %} {% load bootstrap5 %} 
{% block title %}{{username}}{% endblock %}
{% block content %}
<h1 class="top text-center">{{username}}</h1>
{% if username == user.username %}
<form action="{% url 'new_group' %}" method="post">
  {% csrf_token %}
  <button class="btn btn-primary float-end" type="submit">Create A New Group</button>
</form>
{% endif %}
<h2>Groups</h2>
{% if user.is_authenticated %}
{% for i in groups %}
{% if username in i.members %}
<div class="card">
  <img src="http://{{site}}/{{ i.group_pic.url }}" alt="Hopefully an image of the group members"/>
  <h3>{{i.group_name}}</h3>
  <p>{{i.group_description}}</p>
  {% if i.members|length < 5 %}
  <p>Members: <i>{% for x in i.members %}<a href="/accounts/{{x}}">{{x}},</a>{% endfor %}</i></p>
  {% else %}
  <p>Members: {{i.members|length}}</p>
  {% endif %}
  {% if user.username == i.members.0 %}
  <a href="{% url 'edit_group' i.id %}"><button class="btn btn-primary btn-card">Edit</button></a>
  <a href="{% url 'delete_group' i.id %}"><button class="btn btn-danger">Delete</button></a>
  {% endif %}
</div>
{% endif %}{% endfor %}
{% else %}
<p>Please log in to see this user's groups.</p>
{% endif %}
{% if username == user.username %}
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <a href="{% url 'password_change' %}"
    ><input class="btn btn-primary" type="button" value="Change Password"
  /></a>
  <button class="btn btn-primary" type="submit">Log Out</button>
  <a href="{% url 'delete_account' %}"><input class="float-end btn btn-danger" type="button" value="Delete Account"/></a>
</form>
{% endif %}
{% endblock %}
