{% extends 'base.html' %} {% block title %}Home{% endblock %} 
{% block content %}
<div class="header">
  <h1 class="Center">Welcome to the Empty Tavern</h1>
  <h3>Your new favorite place to find a new party</h3>
  <a href="{% url 'signup' %}"<button class="btn btn-primary btn-card">Sign up</button>
  <p class="note">Credit to <a href="https://www.deviantart.com/damba4444/art/Empty-tavern-617852005">Damba4444</a> for the beautiful background.</p>
</div>
<div class="details">
  <p>The empty Tavern is a simple and easy-to-use network of D&D parties and players. It offers an expanse of features to help you find just the party and players you're looking for. With everything from Classic Dungeons and Dragons to Pathfinder, we help you find just the game you want.</p>
</div>
{% endblock %}
