{% extends 'base.html' %} {% block title %}Home{% endblock %} 
{% block content %}
<div class="header">
  <h1 class="Center">Welcome to the Empty Tavern</h1>
  <h3>Your new favorite place to find a new party</h3>
  <a href="{% url 'signup' %}"<button class="btn btn-primary btn-card">Sign up</button></a>
  <p class="note">Credit to <a href="https://www.deviantart.com/damba4444/art/Empty-tavern-617852005">Damba4444</a> for the beautiful background.</p>
</div>
<div class="details">
<p>The Empty Tavern is a straightforward and user-friendly network designed for Dungeons & Dragons enthusiasts and tabletop role-playing game players. It provides a wide array of features to connect you with the perfect party or group of players, catering to your specific preferences and interests. Whether you're seeking a classic Dungeons & Dragons campaign, an adventurous Pathfinder journey, or something in between, The Empty Tavern ensures you can discover the game you want to play and the people who share your passion.</p>
</div>
{% endblock %}
