{% extends "base.html" %} {% load bootstrap5 %} {% block title%}
Notifications{% endblock %} {% block content %}
<h1 class="top text-center">Notifications</h1>
{% for i in notifications %}
<div class="card">
  <p>{{i.3}}</p>
  <a href="{% url 'accept' i.1 i.4 %}"><button class="btn btn-primary btn-card">Accept</button></a>
  <a href="{% url 'reject' i.1 i.4 %}"><button class="btn btn-danger">Reject</button></a>
</div>
{% endfor %}
{% if notifications|length == 0 %}
<p class="notifications-empty">Nothing to see here.</p>
{% endif %}
{% endblock %}
